@use 'src/styles/color';
@use 'src/styles/media';

.wrap{
  background: white;
  border-radius: 26px;
  margin-bottom: 32px;
  margin-top: 16px;
  @include media.tp{
    margin-bottom: 44px;
    margin-top: 24px;
  }
  @include media.d{
    margin-bottom: 20px;
    padding: 40px 80px;
    margin-top: unset;
  }
  @include media.dhd{
    padding: 48px 156px;
  }
}
.wrap input{
  width: 100%;
  min-width: unset;
}

.title{
  display: none;
  @include media.d{
    border-bottom: 1px solid color.$grayscale100;
    padding-bottom: 20px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hr_top{
  display: none;
  @include media.d{
    display: inline-block;
    border: 0;
    margin: 0;
    border-top: 1px solid color.$grayscale100;
    width: 100%;
  }
}
.title button{
  display: none;
  @include media.d{
    display: block;
  }
}
.submit {
  display: flex;
  justify-content: flex-end;
  @include media.d{
    display: none;
  }
}
.submit button{
  width: 100%;
  @include media.tp{
    width: unset;
  }
}
.label{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  @include media.d{
    flex-grow: 2;
    flex-basis: 20px;
  }
}
.input{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  @include media.d{
    flex-direction: row;
    gap: 99px;
  }
}

.form hr {
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-block;
  border: 0;
  border-top: 1px solid color.$grayscale100;
  width: 100%;
}
.fullwidth{
  flex-grow: 3;
}
.form{
  margin-bottom: 16px;
  @include media.tp{
    margin-bottom: 28px;
  }
  @include media.d{
    margin-top: 32px;
    margin-bottom: unset;
  }
}